/* 
color a : #3669c9
color b : #6599ff
color c : #157ffb
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #3669c9;
    width: auto;
    height: 100px;
}

nav {
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    width: 100%;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

nav button {
    background-color: #fff;
    color: #000000;
    font-size: 25px;
    border-radius: 50px;
    padding: 10px 45px;
}

.banner {
    position: relative;
    display: flex;
    place-items: center;
    background-image: url(../images/Fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    max-height: 1700px;
    padding: 20px;
    gap: 30px;
    align-items: center;
}

.banner #consultar {
    margin-left: 5%;
    display: flex;
    justify-content: start;
    width: 900px;
    height: 90%;
}

#consultar .form {
    width: 65%;
    height: 90%;
    min-width: 500px;
    background-color: #afff;
    border-radius: 5%;
}

.banner #consultar .tittle{
    text-align: center;
    font-size: 25px;
}
.banner #consultar .text{
    text-align: center;
    font-size: 12px;
}

.banner .conocer {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    width: 550px;
    height: 80%;
    text-align: center;
}

.banner .conocer .tittle {
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
}

.banner .conocer .text {
    width: 85%;
    line-height: 1.3rem;
    margin: 0 15px;
}

.banner .conocer button {
    background-color: #157ffb;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 25px;
}
