body{
    background: linear-gradient(#9b00de, #16faf6fa);
}
.stars {
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 200px;
    width: 100%;
    height: 800px;
} 


.box {
    background-color: #567895;
}

h2{
    background-color: black;
    color: white;
}
span {
    background-color: rgba(255, 255, 255, .5);
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
.stars{
    -webkit-animation: 0.5s rotate  infinite;
    animation: 2s rotate  infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}